/** Mixins | https://github.com/thinknathan/pcss-mixins/ */

@define-mixin lazyload $loading-class, $loaded-class {
	:root {
		/*  Colours used in pulsing animation */
		--pm-lazyload-color: var(--zf-color-light-gray, gray);
		--pm-lazyload-color2: color-mix(
			in srgb,
			var(--pm-lazyload-color) 95%,
			black
		);
	}

	$(loading-class) {
		background-color: var(--pm-lazyload-color);
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-name: placeholderPulse;
		animation-timing-function: ease-in-out;
	}

	@keyframes placeholderPulse {
		0% {
			background-color: var(--pm-lazyload-color);
		}

		50% {
			background-color: var(--pm-lazyload-color2);
		}

		100% {
			background-color: var(--pm-lazyload-color);
		}
	}

	/**
 * Material Design image load
 * @credit: https://stackoverflow.com/questions/36377545/implement-material-image-loading-pattern-using-css-filters
 */
	$(loaded-class) {
		animation: progressComplete 2s;
		animation-fill-mode: forward;
	}

	@keyframes progressComplete {
		0% {
			opacity: 0;
			filter: saturate(20%) brightness(125%);
		}

		66.7% {
			opacity: 1;
		}

		83.3% {
			filter: saturate(87%) brightness(100%);
		}

		100% {
			filter: saturate(100%) brightness(100%);
		}
	}
}
